# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      6
1  banana  medium      7
2  orange     low     11
3   apple    high      9
4  banana  medium      3
5  orange     low     10
6   apple    high      3
7  banana  medium      9
8  orange     low      0
    fruit weight  price
0   apple   high      2
1  orange    low      7
2    pine   high      8
3   apple    low      8
4  orange   high      3
5    pine    low      1

In [8]:
# - 依照 fruit 欄位做合併

pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        6     high        2
1    apple     high        6      low        8
2    apple     high        9     high        2
3    apple     high        9      low        8
4    apple     high        3     high        2
5    apple     high        3      low        8
6   orange      low       11      low        7
7   orange      low       11     high        3
8   orange      low       10      low        7
9   orange      low       10     high        3
10  orange      low        0      low        7
11  orange      low        0     high        3

In [15]:
# - 依照 index 索引做合併

pd.merge(df1, df2)

Empty DataFrame
Columns: [fruit, weight, price]
Index: []

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

在fruit的連結中，因為他們是inner join所以不見了

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

因為他們有重複的欄位名

In [22]:
df1.concat(df2, left_index=True, right_on='fruit')

AttributeError: 'DataFrame' object has no attribute 'concat'